/* Extra small devices (phones, 600px and down) */
html {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #6f64b4;
}
body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 95%;
	border-bottom: 1px solid #2B2E3A;
}
#home {
	margin: 0;
}
.nav-links {
	width: 300px;
}
.nav-links p {
	float: right;
	margin: 0 8%;
	font-weight: bold;
}

/* SLIDE SHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	max-width: 600px;
	position: relative;
	margin: 15% auto 0  auto;
}

/* Hide the images by default */
.mySlides {
  	display: none;
  	padding: 0;
}
.mySlides img {
	max-width: 100%;
	margin: auto;
	max-height: 500px;
}
.numberText {
	color: white;
	text-align: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 98%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #6f64b4;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
/* Position the "next button" to the right */
.prev {
	left: 0px;
}
.next {
	right: 0px;
}

/* Caption text */
.text {
 	color: darkgray;
 	font-size: 15px;
 	width: 100%;
 	text-align: center;
}
/* The dots/bullets/indicators NOT IN USE
.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}*/
.active, .dot:hover {
  	background-color: #717171;
}

/* Fading animation */
.fade {
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
/* END SLIDE SHOW */

.article {
	margin: 0 3%;
}
.article h1 {

}
.article p {
	line-height: 1.5;
	color: darkgray;
}
.foodprep-link {
	color: darkgray;
	width: 100%;
	margin: 0 3%;
}
.project-links {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 3% 0 0 0;
	padding: 2%;
}
.project-box {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: left;
	max-width: 500px;
	max-height: 100%;
	margin: 2% 0;
	padding: 10px;
	background-image: linear-gradient( to bottom right, #16171d, #2B2E3A );
	border-radius: 5px;
}
.project-img {
	max-width: 100%;
	padding: 1px;
	margin: 0 5px 0 0;
	border-radius: 5px;
}
.project-desc {
	font-size: .75em;
	padding: 5px;
}
.project-desc h3 {
	margin: 0 0 1% 0;
	padding: 0;
}
.project-desc p {
	max-width: 280px;
	margin: 0;
	padding: 0;
	color: darkgray;
}
footer {
	display: flex;
	flex-flow: column;
	height: 100px;
	width: 95%;
	margin: 15% 0 0 0;
	border-top: 1px solid #2B2E3A;
	font-size: .8em;
}
footer p {
	margin: auto;
	color: darkgray;
}
/* Medium devices (landscape tablets, 560px and up) */
@media only screen and (min-width: 560px) {
	#home {
		margin: 0 0 0 5%;
	}
	.slideshow-container {
		margin: 10% auto 0 auto;
	}
	footer {
		flex-flow: row;
	}
}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width: 1000px) {
	body {
		flex-flow: row-reverse wrap;
		align-items: center;
	}
	nav {
		width: 85%;
	}
	.nav-links {
		margin: 0 5% 0 0;
	}
	.slideshow-container {
		margin: 5% 0 0 5%;
		width: 50%;
		height: 500px;
	}
	/* Position the "next button" to the right */
	.prev {
		top: 50%;
		left: -35px;
	}
	.next {
		top: 50%;
		right: -35px;
	}
	.article {
		width: 35%;
		margin: 5% 0;
	}
	.article p {
		line-height: 1.5;
		color: darkgray;
	}
	.foodprep-link {
		color: darkgray;
		height: 50px;
		margin: 0 3%;
		width: 90%;
	}
	.project-links {
		flex-flow: row wrap;
		width: 90%;
		margin: 0;
	}
	.project-box {
		margin: .5%;
		width: 400px;
	}
	footer {
		width: 85%;
	}
}
