/* Extra small devices (phones, 300px and up) */
html {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #6f64b4;
}
/* Container for Nav, Slideshow, Slideshow1, Footer */
body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 2000px;
	margin: 0 auto;
	padding: 2%;
}
/* Top navigation bar */
nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 95%;
	border-bottom: 1px solid #2B2E3A;
}
.nav-links {
	width: 300px;
}
.nav-links p {
	float: right;
	margin: 0 8%;
	font-weight: bold;
}
* {box-sizing:border-box}

/* Slideshow container for images */
.slideshow-container {
	max-width: 600px;
	max-height: 900px;
	position: relative;
	margin: 15% 0 0 0;
}
.mySlides {
	display: none;
	padding: 0;
}
.mySlides img {
	max-width: 100%;
	margin: auto;
}
/* Slideshow container for text */
.slideshow-container1 {
	max-width: 600px;
	height: 30%;
	position: relative;
	margin: 8% auto 0 auto;
	padding: 2%;
}
.mySlides1 {
	display: none;
	padding: 0;
}
.numberText {
	color: #6f64b4;
	font-size: .75em;
	text-align: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 105%;
  width: auto;
  margin-top: -22px;
  padding: 6px;
  color: #6f64b4;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0px;
}
/* Caption text */
.text {
 	color: #6f64b4;
 	font-size: .75em;
 	width: 100%;
 	text-align: center;
}
/* Fading animation */
.fade {
  	animation-name: fade;
  	animation-duration: 1.5s;
}
@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
/* Text in slideshowcontainer1 */
.article {
	margin: 5% 0;
}
.article p {
	line-height: 1.2;
	color: darkgray;
}
/* Bottom nav arrows */
.arrows {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	font-size: 1em;
	width: 90%;
	max-width: 600px;
	margin: 15% auto;
	padding: 0;
}
.arrows a {
	color: #6f64b4;
}
footer {
	display: flex;
	flex-flow: column;
	height: 100px;
	width: 95%;
	margin: 15% 0 0 0;
	border-top: 1px solid #2B2E3A;
	font-size: .8em;
}
footer p {
	margin: auto;
	color: darkgray;
}
/* Medium devices (landscape tablets, 560px and up) */
@media only screen and (min-width: 560px) {
	#home {
		margin: 0 0 0 5%;
	}
	.slideshow-container {
		margin: 10% auto 0 auto;
	}
	.slideshow-container1 {
		margin: 5% auto 0 auto;
	}
	footer {
		flex-flow: row;
	}
}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width: 1000px) {
	body {
		flex-flow: row-reverse wrap;
		align-items: center;
	}
	nav {
		width: 85%;
	}
	.nav-links {
		margin: 0 5% 0 0;
	}
	.slideshow-container {
		margin: 5% 0 0 5%;
		width: 60%;
		max-height: 900px;
	}
	/* Slideshow container */
	.slideshow-container1 {
		width: 35%;
		height: 30%;
		position: relative;
		margin: 5% 0 0 0;
	}
	/* Position the "next and prev" buttons */
	.prev {
		top: 50%;
		left: -35px;
	}
	.next {
		top: 50%;
		right: -35px;
	}
	.article {
		line-height: 1.5;
	}
	.arrows {
		margin: 10% auto 0;
		max-width: 70%;
	}
	footer {
		width: 85%;
	}
}
