/* Styles for the elements */
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: grey;
}
body {
    font-family: Garamond, serif;
    font-size: 100%;
    width: 1200px;
    margin: 2em auto;
    padding: 0em 2em;
    background-color: lightgray;
    border-radius: 25px;
}
a:focus, a:hover {
    font-style: bold;
}
/* Styles for the header */
header {
    padding: .5em 3em 4em 3em;
    margin: 0em 0em 0em 0em;
    border-bottom: 1px solid black;
}
header h2 {
    font-size: 250%;
    color: black;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    float: left;
}
header h3 {
    font-size: 130%;
    color: black;
    padding: 1em 1em 0em 1em;
    float: right;
}
/* Styles for right article */
article {
    float: right;
    width: 60%;
    margin: 0em;
    padding: 0em 0em 0em 0em;
}
article h3 {
    text-align: center;
    font-size: 150%;
}
article p {
    font-size: 120%;
    margin: 0em 4em .25em;
}
article blockquote {
    font-size: 120%;
    padding: 0 6em .25em; 
    color: green;
}
/* Styles for the aside (nav bar) */
aside {
    width: 39%;
    margin: 0em;
    padding: 0em;
}
aside img {
    padding: 1em 5em;
}
/* Styles for the section (navigation) */
section {
    clear: both;
    text-align: center;
    padding: 1em 0em 5em 0em;
}
section h2 {
}
section h3 {
    float: left;
    margin: 20px 0px 0px 250px;
}
section p {
}
/* Styles for the footer */
footer {
    clear: both;
}
footer p {
    text-align: center; 
    color: black;
    padding: 1em;
}
