/* Styles for the elements */
html {
  height: 100%;
  background: linear-gradient(to top, seagreen 0%, slategray 50%, gray 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a:focus, a:hover a:visited {
  color: black;
}
/*styles for the body */
.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: Garamond, serif;
  font-size: 100%;
  width: 2000px;
  margin: 1% auto;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 10px 10px 10px;
}
/*styles for the header */
.header {
  width: 50%;
  margin: 0;
  padding: 0;
}
header h1 {
  margin: 1% 0 0 25%;
  padding: 0;
}
/*styles for the nav */
.nav {
  width: 50%;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style-type: none;
  margin: 2% 0;
  padding: 0;
  position: relative;
}
nav ul li {
  text-align: center;
  float: right;
  width: 33%;
}
nav ul li a {
  font-size: 120%;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
}
a.current {
  color: white;
}
nav ul ul {
  display: none;
  margin: 0;
  position: absolute;
  top: 100%;
  box-shadow: 10px 10px 10px;
}
nav ul ul li {
  float: none;
  text-align: left;
  margin: 0;
  width: 100%;
  background: linear-gradient(to right, gray 0%, lightgray 30%, whitesmoke 100%);
}
nav ul li:hover > ul {
  display: block;
}
nav ul::after {
  content: "";
  clear: both;
  display: block;
}
/*styles for the section */
.section {
  width: 100%;
  margin: 2% 0;
  padding: 0;
}
.section h2 {
  font-size: 130%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 98%;
  height: 100%;
  margin: 0;
  padding: 0;
}
picture {
  display: flex;
  align-items: center;
  width: 50%;
  height: 500px;
  margin: 5% 0 0 1%;
  padding: 0;
}
picture img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 10px 10px 10px;
  border: 1px solid black;
}
article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 255px;
  margin: 1% auto;
  padding: 0;
  background: rgba(115, 145, 128, .3);
  border-radius: 50px;
  box-shadow: 5px 5px 10px gray;
}
h3 {
  font-size: 140%;
  text-align: center;
  width: 80%;
  margin: 2%;
  padding: 0;
}
article p {
  font-size: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
}
/* Styles for the footer */
.footer {
  width: 100%;
  margin: 5% 0 .25%;
  padding: 0;
}
footer p {
  font-size: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 2100px) {
  .body {
    width: 95%;
  }
}
@media only screen and (max-width: 1150px) {
  /*styles for the body */
  .body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  /*styles for the header */
  .header {
    width: 100%;
    align-items: center;
    margin: 0;
  }
  header h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  /*styles for the nav */
  .nav {
    width: 100%;
    margin: 1% 0;
  }
  nav p {
    width: 33.3%;
    text-align: center;
    margin: 0;
    font-size: 120%;
  }
  /*styles for the section */
  .section {
    width: 100%;
    margin: 1% 0;
  }
  .main {
    display: flex;
    flex-flow: column wrap;
    width: 98%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  picture {
    display: flex;
    width: 98%;
    height: 100%;
    margin: 5% auto;
    border: .25px solid black;
  }
  picture img {
    max-width: 100%;
    align-self: flex-start;
  }
  article {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 1% auto;
    padding: 1%;
  }
  h3 {
    font-size: 140%;
    text-align: center;
    width: 80%;
    margin: 0 0 1% 0;
  }
  article p {
    font-size: 100%;
    width: 80%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 80%;
  }
  .body {
    padding: 0;
    box-shadow: 5px 5px 5px;
  }
  /*styles for the header */
  .header {
    width: 90%;
    margin: 1% auto;
  }
  header h1 {
    text-align: center;
  }
  /*styles for the nav */
  .nav {
    font-size: 85%;
    width: 90%;
    margin: 1% auto;
  }
  nav ul li {
    padding: 2% 0;
  }
  /*styles for the section */
  .section {
    width: 90%;
    margin: 1% auto;
  }
  section h2 {
    text-align: center;
    font-size: 120%;
  }
  picture {
    justify-content: flex-start;
    align-items: flex-start;
    border: .25px solid black;
    width: 95%;
    height: auto;
    margin: 10% auto;
  }
  picture img {
    max-width: 100%;
    box-shadow: 5px 5px 10px;
  }
  article {
    width: 95%;
    margin: 1% auto 20%;
  }
}
