/* Extra small devices (phones, 560px and down) */
html {
	background-color: black;
	color: lightgrey;
	font-family: Arial, sans-serif;
	width: 100%;
}
a {
	text-decoration: none;
	color: lightgrey;
}
a:hover {
	color: #6f64b4;
}
body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 800px;
	width: 98%;
}
nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 95%;
	border-bottom: 1px solid #2B2E3A;
}
#home {
	margin: 0;
}
.nav-links {
	width: 300px;
}
.nav-links p {
	float: right;
	margin: 0 8%;
	font-weight: bold;
}
.article {
	line-height: 1.2;
	width: 98%;
	padding: 2%;
	margin: 15% 0 0 0;
}
#article-title {
	margin: 0;
	padding: 0;
	height: 120px;
}
#article-body{
	margin: 0;
	padding: 0;
	height: 120px;
}
.social-links {
	float: left;
	margin: 0 10% 0 0;
	padding: 0;
}
#social-links h3 {
	margin: 0 10% 0 0;
}
#main-image {
	height: 60%;
	width: 98%;
	margin: 10% 0;
}
footer {
	display: flex;
	height: 100px;
	width: 95%;
	margin: 10% 0 0 0;
	border-top: 1px solid #2B2E3A;
	font-size: .8em;
}
footer p {
	margin: auto;
}
/* Medium devices (landscape tablets, 560px and up) */
@media only screen and (min-width: 560px) {
	#home {
		margin: 0 0 0 5%;
	}
	body {
		justify-content: left;
	}
	.article {
		width: 560px;
		padding: 2%;
		margin: 5% 0 0 0;
	}
	#main-image {
		margin: 5% 0;
		height: 70%;
	}
}
/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		padding: 0;
		justify-content: center;
		max-width: 2000px;
	}
	nav {
		width: 85%;
	}
	.nav-links {
		margin: 0 5% 0 0;
	}
	#main-image {
		width: 45%;
	}
	footer {
		width: 85%;
	}
}
