/* Styles for the elements */
html {
  height: 150%;
  background: linear-gradient(to top, seagreen 0%, slategray 100%)
}
a:focus, a:hover {
  font-style: italic;
}
/*styles for the body */
.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: Garamond, serif;
  font-size: 100%;
  width: 95%;
  margin: 1% auto;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 25px;
  box-shadow: 10px 10px 10px;
}
/*styles for the header */
.header {
  width: 50%;
  margin: 0;
  padding: 0;
}
header h1 {
  margin: 1% 0 0 25%;
  padding: 0;
}
/*styles for the nav */
.nav {
  width: 50%;
  margin: 0;
  padding: 0;
}
nav p {
  float: right;
  margin: 1% 10% 0 0;
  padding: 0;
  font-size: 120%;
}
/*styles for the section */
.section {
  width: 100%;
  margin: 2% 0;
  padding: 0;
}
section h2 {
  font-size: 130%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
/*styles for the picture */
.photo {
  align-self: center;
  width: 50%;
  margin: 0;
  padding: 0;
}
photo picture {
  float: right;
  margin: 0 2% 0 1%;
}
photo picture img {
  max-width: 100%;
}
/*styles for the article */
.article {
  align-self: center;
  width: 50%;
  height: 30%;
  margin: 0;
  padding: 0;
}
article p {
  margin: 1% 0 0 2%;
  width: 60%;
}
article h3 {
  margin: 1% 0 0 2%;
  width: 60%;
}
article blockquote {
  width: 60%;
}
/* Styles for the footer */
.footer {
  width: 100%;
  margin: 5% 0 .25%;
  padding: 0;
}
footer p {
  font-size: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1500px){
  html {
    font-size: 90%;
  }
  section h2 {
    width: 100%;
    text-align: center;
  }
  article p {
    margin: 1% 0 0 2%;
    width: 95%;
  }
  article h3 {
    margin: 1% 0 0 2%;
    width: 95%;
  }
  article blockquote {
    width: 95%;
  }
  
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
  nav p {
    float: right;
    margin: 3% 10% 0 0;
    padding: 0;
    font-size: 100%;
  }
  .section {
    width: 90%;
    margin: 2% auto;
  }
  section h2 {
    float: none;
    text-align: center;
    margin: 1% auto;
  }
  article p {
    width: 95%;
    margin: 1% 2%;
  }

}
@media only screen and (max-width: 500px) {
  html {
    font-size: 60%;
  }
  /*styles for the body */
  .body {
    display: flex;
    flex-flow: row wrap;
  }
  /*styles for the header */
  .header {
    width: 90%;
    margin: 0;
  }
  header h1 {
    text-align: center;
    margin: 1% 0 0 0;
  }
  /*styles for the nav */
  .nav {
    width: 90%;
    margin: 1% 0 0 0;
  }
  nav p {
    float: left;
    width: 20%;
    text-align: center;
    margin: 1% 6%;
    padding: 0;
    font-size: 90%;
  }
  /*styles for the section */
  .section {
    width: 90%;
    margin: 0;
  }
  section h2 {
    font-size: 120%;
    margin: 2% 0;
  }
  /*styles for the picture */
  .photo {
    align-self: center;
    width: 45%;
    margin: 2% 0;
    padding: 0;
  }
  photo picture {
    float: none;
    margin: 0 2% 0 1%;
  }
  photo picture img {
    max-width: 95%;
  }
/*styles for the article */
  .article {
    align-self: center;
    width: 45%;
    height: 30%;
    margin: 0;
    padding: 0;
  }
  article p {
    margin: 1% 0 0 2%;
    width: 98%;
  }
  article h3 {
    margin: 1% 0 0 2%;
    width: 60%;
  }
  article blockquote {
    width: 90%;
    margin: 0;
    padding: .5em;
  }
}
